/* 
 *
 * Display Structure Elements
 * Author: Base Max
 *
 */
*
{
	padding: 0px;
	margin: 0px;
}
body
{
	background-color: #f4603b;
	background-image: url('bg.jpg');
	background-repeat: repeat;
}
.center
{
	width: 80%;
	height: auto;
	margin: auto;
	margin-top: 5%;
}
.window .toolbar
{
	width: 100%;
	height: 70px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	background-color: #0e1c31;
}
.window .toolbar ul.bottuns
{
	float: left;
	margin-left: 35px;
	margin-top: 28px;
}
.window .toolbar ul.bottuns li
{
	display: inline-block;
	width: 14px;
	height: 14px;
	background-color: #1C3E5D;
	border-radius: 50%;
	margin-right: 5px;
}
.window .content
{
	width: 100%;
	float: left;
	background-color: #182B41;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
.window .content .sidebar
{
	width: 220px;
	background-color: #182B41;
	float: left;
}
.window .content .sidebar ul.list
{
	float: left;
}
.window .content .sidebar ul.list li
{
	list-style: none;
	width: 100%;
	float: left;
	margin-top: 18px;
}
.window .content .sidebar ul.list li .icon
{
	float: left;
	width: 20px;
	height: 20px;
	margin-left: 25px;
	border-radius: 50%;
}
.window .content .sidebar ul.list li .icon-1
{
	background-color: #3BC0E4;
}
.window .content .sidebar ul.list li .icon-2
{
	background-color: #8ABF5B;
}
.window .content .sidebar ul.list li .icon-3
{
	background-color: #BA3087;
}
.window .content .sidebar ul.list li .icon-4
{
	background-color: #F6B26B;
}
.window .content .sidebar ul.list li .text
{
	width: 90px;
	height: 12px;
	float: left;
	margin-left: 15px;
	background-color: #314E69;
}
.window .content .friend
{
	width: 250px;
	background-color: #182F46;
	float: left;
	height: 500px;
}
.window .content .friend ul.list
{
	width: 100%;
	float: left;
}
.window .content .friend ul.list li
{
	list-style: none;
	width: 100%;
	float: left;
}
.window .content .friend ul.list li .image
{
	margin: 20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #33516E;
	float: left;
}
.window .content .friend ul.list li .title
{
	width: 150px;
	height: 14px;
	float: left;
	background-color: #33516E;
	margin-top: 23px;
}
.window .content .friend ul.list li .text
{
	margin-top: 7px;
	width: 110px;
	height: 11px;
	float: left;
	background-color: #33516E;
}
