/* 
 *
 * Display Structure Elements
 * Author: Base Max
 *
 */
*
{
	padding: 0px;
	margin: 0px;
}
body
{
	background-color: #f4603b;
	background-image: url('bg.jpg');
	background-repeat: repeat;
}
.center
{
	width: 80%;
	height: auto;
	margin: auto;
	margin-top: 5%;
}
.window .toolbar
{
	width: 100%;
	height: 70px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	background-color: #0e1c31;
}
.window .toolbar ul.bottuns
{
	float: left;
	margin-left: 35px;
	margin-top: 28px;
}
.window .toolbar ul.bottuns li
{
	display: inline-block;
	width: 14px;
	height: 14px;
	background-color: red;
	border-radius: 50%;
	margin-right: 5px;
}
